[submodule "assets/PDFD"]
	path = assets/PDFD
	url = https://github.com/mattocci27/PDFD.git

[submodule "assets/phy-fun-div"]
	path = assets/phy-fun-div
	url = https://github.com/mattocci27/phy-fun-div.git

[submodule "assets/bayes-afec"]
	path = assets/bayes-afec
	url = https://github.com/mattocci27/bayes-afec.git
[submodule "assets/bayes-workshop-xtbg"]
	path = assets/bayes-workshop-xtbg
	url = https://github.com/mattocci27/bayes-workshop-xtbg.git
[submodule "assets/afec-bayes-2025"]
	path = assets/afec-bayes-2025
	url = https://github.com/mattocci27/afec-bayes-2025
